body {
    margin: 0;
}

/* header */

header {
    background-color: black;
    height: 80px;
    display: flex;
    font-weight: bold;
}

header .main-logo {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 30px;
}

header .left-container {
    display: flex;
}

/* dropdown section */

.dropdown {
    color: white;
    padding: 30px;
}

.dropdown:hover {
    background-color: green;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
    position: absolute;
    padding: 12px 16px;
    background-color: green;
    margin-top: auto;
}

.dropdown a {
    display: block;
}


/* logout */

header .right-container {
    margin-left: auto;
}

header form {
    height: 100%;
}

header form button {
    height: 100%;
    border: none;
    text-transform: uppercase;
    background: none;
    color: white;
    padding: 10px;
    font-weight: bold;
}

/* after header, login content in <main> */

.login-container {
    text-align: center;
    display: block;
    background-color: aliceblue;
    margin: 20vh auto;
    max-width: 20%;
    padding: 5vh;
}

.login-container input {
    width: 90%;
    box-sizing: border-box;
    padding: 1vh;
    margin: 2vh auto;
}

.login-form button {
    background: black;
    color: white;
    width: 90%;
    padding: 2vh;
    outline: none;
    border: none;
}

/* tasks board section */

.boards {
    display: flex;
}

.board {
    width: 25%;
}

.board h2 {
    display: block;
    margin: 20px
}

.board-content {
    background-color: aliceblue;
    height: 500px;
    margin: 20px
}

.board-block {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: green;
    display: flex;
    flex-direction: column;
}

.board-block a {
    text-decoration: none;
}

.board-block-user {
    text-decoration: none;
    display: block;
    text-align: right;
    margin-top: auto;
}