body {
    margin: 0;
}

/* header */

header {
    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

header .main-logo {
    display: flex;
    height: 100%;
}

header .main-logo-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-left: 2vw;
    padding-right: 2vw;
}

header .header-right {
    text-align: right;
    display: flex;
    height: 100%;
}

.header-right a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.header-right button {
    color: white;
    text-transform: uppercase;
    display: flex;
    border: none;
    background: none;
    height: 100%;
    text-align: center;
    align-items: center;
    font-weight: bold;
}

/* after header, login content in <main> */

.login-container {
    text-align: center;
    display: block;
    background-color: aliceblue;
    margin: 20vh auto;
    max-width: 20%;
    padding: 5vh;
}

.login-container input {
    width: 90%;
    box-sizing: border-box;
    padding: 1vh;
    margin: 2vh auto;
}

.login-form button {
    background: black;
    color: white;
    width: 90%;
    padding: 2vh;
    outline: none;
    border: none;
}