{% extends '_base.html' %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="login-container">
        <h2>Log in</h2>
        <form class="login-form" method="post">
            {% csrf_token %}
            <input type="text" id="username" name="username" placeholder="Username" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <button type="submit">Log in</button>
        </form>
    </div>
{% endblock %}