{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header class="main-header">
    <a class="main-logo" href="/">Task Manager</a>
    {% block header %}
        <div class="left-container">
            <div class="dropdown">Tasks
                <!-- TODO make links available -->
                <div class="dropdown-content">
                    <a href="/">Board</a>
                    <a href="/">List</a>
                    <a href="/">Create</a>
                </div>
            </div>
            <div class="dropdown">Users
                <div class="dropdown-content">
                    <a href="/">List</a>
                    <a href="/">Create</a>
                </div>
            </div>
        </div>
        <div class="right-container">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">logout</button>
            </form>
        </div>
    {% endblock %}
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>