{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <div class="main-logo">
        <a class="main-logo-link" href="/">Task Manager</a>
    </div>
    {% block header %}
        <div class="header-right">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">logout</button>
            </form>
        </div>
    {% endblock %}
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>