{% extends '_base.html' %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/dataTables.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="mb-5" id='calendar'>

        </div>
        <table id="tasks-dt" class="table table-bordered dt-responsive nowrap w-100">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Executor</th>
                <th>Deadline</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block custom_js %}

    <script src="{% static 'js/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'js/dataTables.js' %}"></script>
    <script src="{% static 'js/fullcalendar.js' %}"></script>
    <script>

        function getEvents(data) {
            let events = []
            for (let task of data) {
                events.push(
                    {
                        title: task.title,
                        start: task.deadline,
                        backgroundColor: 'blue',
                        borderColor: 'blue',
                        textColor: 'white'
                    }
                )
            }
            return events;
        }

        function initCalendar(data) {
            let calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: getEvents(data),
            });
            calendar.render();
        }

        function initTable(data) {
            dataTable = $("#tasks-dt").DataTable({
                ...tableConfig,
                data: data
            });
        }

        // user render
        DataTable.render.ellipsis = function () {
            return function (data, type) {
                return type === 'display' && data.length > 20 ?
                    data.substr(0, 30) + '…' : data;
            }
        };
        let dataTable = null;
        let tableConfig = {
            ordering: true,
            paging: true,
            columns: [
                {name: "id", data: "id"},
                {
                    name: "title",
                    data: "id",
                    render: function (data, type, row) {
                        return '<a href="/tasks/' + data + '">' + row.title + '</a>';
                    }
                },
                {name: "description", data: "description"},
                {name: "executor", data: "executor"},
                {name: "deadline", data: "deadline"},
                {name: "status", data: "status"},
            ],
            columnDefs: [{
                targets: 2,
                render: DataTable.render.ellipsis()
            }]
        };
        
        function initAll(data) {
            initCalendar(data);
            initTable(data);
        }
        
        fetch(window.origin + '/api/tasks')
            .then(data => data.json())
            .then(data => initAll(data))
    </script>
{% endblock %}